<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM-dd HH:mm} %highlight(%5p) --- %cyan(%-40.40c{39}) : %highlight(%m%n%rEx)</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="me.kfricilone" level="info" />
    <logger name="org.openrs2.compress.bzip2.Bzip2" level="off" />

</configuration>
